textarea {
    resize: none;
  }

  body{
      width: 100%;
  }

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.logo img{
    width: 160px;
}


.navbar div ul{
    display: flexbox;
    flex-direction: row !important;
}

#new_post, #profile-view{
    margin: 25px;
}

#profile-view h5{
    width: 15%;
    text-align: center;
    line-height: 1.3;
}


.nav-link{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 3px 4px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;   
     margin-right: 15px;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.1em 0.3em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;}


.post_container{
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-bottom: 40px;
    padding-left: 10px;
    width: 55%;
    height: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem 2.3rem rgba(0, 0, 0, 0.11);
}

.post_container textarea{
    width: 85%;
    height: 8rem;
}


#post{
    margin-left: 10px;
    margin-bottom: 0px;
}

.timestamp{
    position: absolute;
    bottom: -15px;
    right: 10px;
    color: rgb(104, 102, 102);
}

.post_container div img{
    margin-bottom: 2px;
}


.profile{

    background-image: linear-gradient( 103.3deg,  rgba(252, 225, 208, 0.808) 30%, rgba(255, 173, 214, 0.658) 55.7%, rgba(162, 186, 245, 0.459) 81.8% );
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    margin-left: 12.5%;
    text-align: center;
    align-self: center;
    font-family: Monospace;
    /* box-shadow: 0 .75rem 3rem rgba(78, 129, 177, 0.315); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.profile h3, .profile div{
    text-shadow: 4px 4px 5px rgba(251, 251, 252, 0.877);
}

.profile{
    font-size: larger;
}

.profile div{
    margin: 5px;
}


.post_container h5{
    cursor: pointer;
}

.likes_container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 35px;
    font-size: 110%;
    position: absolute;
    bottom: 5px;
}

.likes_icon{
    cursor: pointer;
    width: 20px;
    transition: 0.8s;
}

.likes_icon:hover{
    width: 25px;
}

#paginator{
    display: flex;
    padding: 10px;
    padding-bottom:25px;
    padding-top: 0;
    width: 25%;
    justify-content: space-around;
}

#page_counter{
    cursor:default;
}

textarea{
    
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    border-radius: 7px;
      
}


/* button-30 copied from https://getcssscan.com/css-buttons-examples, made by Algolia   */

.button-30 {
  
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    line-height: 1;
}

.post_container .button-30{
    position: absolute;
    top: 20px;
    right: 10px;
}

.post_container p .button-30{
    position: relative;
    top: -8px;
    right: -15px;
}


.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    outline:0;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}




/* CSS */
.button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.6rem 1.0rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-81:hover {
    background-color: #1e293b;
    color: #fff;
}


  

.post_container p{
    font-family: futura-pt,sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    padding: 5px;
}


@media screen and (max-width: 1100px){

    .logo img{
        width: 200px;
    }

    #new_post h4{
        font-size: 50px;
    }

    #new_post textarea{
        font-size: 40px;
    }

    #profile-view h5{
        width: 40%;
    }

    .profile{
        width: 65%;
        margin-left: 17.5%;
    }

    .profile h3{
        font-size: 50px;
    }

    .profile div{
        font-size: 40px;
    }

    .nav-item a, .nav-item a strong{
        padding-right: 15px!important;
        padding-left: 15px!important;
        font-size: 32px;
    }

    .post_container{
        width: 95%;
        padding-bottom: 50px;
        padding-top: 20px;
    }

    .post_container p, .post_container h5{
        font-size: 40px;
    }

    #new_post textarea{
        width: 80%;
        margin-left: 10px;
    }

    #paginator{
        width: 75%;
        margin-left: 12.5%;
    }

    #paginator button{
        font-size: 35px;
    }

    .button-30{
        font-size: 40px;
        height: 55px;
    }

    .post_container .timestamp{
        font-size: 30px;
    }
    

    .likes_container{
        width: 48px;
        position: absolute;
        bottom: 5px;
        left: 20px;
    }

    .likes_container div{
        font-size: 25px;
    }
    
    .likes_icon{
        width: 30px;
    }
    
    .likes_icon:hover{
        width: 25px;
    }

}
